
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-family: 'Roboto', sans-serif;
}


#navegacion{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:gray;
}


#navegacion > ul {
  
    display: flex;
    flex-direction: row;
    color: black;
    list-style-type: none;

}

#navegacion> ul > li {
margin: 10px;
}

body{
 padding: 0;
 margin: 0;

}

#banner {

    background-image: url(https://cdn.pixabay.com/photo/2019/05/19/14/38/night-4214227_960_720.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: -21px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#banner> div{

color:wheat;
display: flex;
    flex-direction: column;
    justify-content: center;

}


#banner> diV  > button{

    width: 350px;
    height: 60px;
    background-color: white;
    color: blue;
    border-radius:10px;
    border: solid black 0.5px ;
    font-size:15pt;
    margin: auto;


}

#banner> div > button:hover{

    background-color: burlywood;
    cursor: pointer;
}

#div_parrafo{

    display: flex;
    flex-direction: row;
    background-color: burlywood;
    padding: 20px;
    font-size: 16pt;
    justify-content: space-around;

}

#div_parrafo > p{

    width: 40%;
    margin:auto 0 auto 0;


}